/*Mapa*/
.deco3, .deco2, .deco1 {
  margin-top: 25px;
  transition: 2s all;
}

.deco3, .deco2, .deco1 {
  filter: grayscale(100%);
}

.titulo {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  justify-content: space-between;
  margin-right: 100px;
}

h3, h2 {
  font-family: "Raleway", sans-serif;
}

.body {
  background-color: #f5f5f3;
}

.nav-bg-index {
  background-color: #f5f5f3;
}

.nav-bg-proy {
  background-color: #1c1c1c;
}

.title-dikka {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.nav-link:hover {
  font-weight: bold;
}

/*Proyectos*/
.title-dikka-proy {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

/*Procesos*/
.text-procesos {
  color: #fff;
}

.text-parrafo {
  color: #fff;
}

li a:hover {
  text-decoration: white;
}

.foto {
  height: 100px;
}

.body-proyecto {
  background-color: #1c1c1c;
}

.nav-bg {
  background-color: #1c1c1c;
}

/*Mapa*/
.boton-nav1 {
  background-color: #1c1c1c;
  height: 70px;
  width: 395px;
  text-align: left;
  padding-left: 45px;
  border: none;
  text-transform: uppercase;
}
.boton-nav1:hover {
  background-color: black;
}
@media screen and (max-width: 900px) {
  .boton-nav1 {
    display: none;
  }
}

.btn-txt {
  color: #fff;
  font-family: "Raleway", sans-serif;
  /*font: 10px "Fatum", "Arial", "Helvetica" ,sans-serif;*/
  text-align: center;
  margin-bottom: 0px;
  font-size: 10px;
  letter-spacing: 4px;
}

/*Pagina proyectos*/
.btn-bg {
  background-color: #fff;
}

.btn-txt-proy {
  color: #000;
  font-family: Fatum, Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0px;
  font-size: 10px;
  letter-spacing: 4px;
}

.boton-nav1-proy {
  background-color: #fff;
  height: 70px;
  width: 395px;
  text-align: left;
  padding-left: 45px;
  border: none;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .boton-nav1-proy {
    display: none;
  }
}

.navbar-toggler-icon {
  background-color: #fff;
  border-radius: 7px;
}

.deco3, .deco2, .deco1 {
  margin-top: 25px;
  transition: 2s all;
}

.deco3, .deco2, .deco1 {
  filter: grayscale(100%);
}

.deco1:hover {
  -webkit-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
  -webkit-transform: grayscale(0%);
  -o-transform: grayscale(0%);
  -moz-transform: grayscale(0%);
  filter: grayscale(0%);
}

.deco2:hover {
  /*@extend %translate;*/
  -webkit-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
  -webkit-transform: grayscale(0%);
  -o-transform: grayscale(0%);
  -moz-transform: grayscale(0%);
  filter: grayscale(0%);
}

.deco3:hover {
  /*@extend %translate;*/
  -webkit-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
  -webkit-transform: grayscale(0%);
  -o-transform: grayscale(0%);
  -moz-transform: grayscale(0%);
  filter: grayscale(0%);
}

/*.card{
    width: 50%;
    left: 200px;
}*/
.c-img {
  width: 95%;
  max-width: 600px;
  margin: 100px auto;
  position: relative;
  display: flex;
  align-items: center;
}
.c-img img {
  width: 100%;
}
.c-img .txt {
  text-align: center;
  position: absolute;
}
.c-img h2, .c-img p {
  color: #fff;
  padding: 10px 20px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: red;
}

.card-title {
  text-align: center;
}

.texto-up {
  color: green;
  cursor: pointer;
  overflow: hidden;
}

.bahia {
  cursor: pointer;
}
.bahia:hover .texto-up {
  color: #fff;
}

/*.card img{
    cursor: pointer;
    &:hover{
        .texto-up{
            color: #fff;
            display: none;
        }
    }


}*/
/*Mapa*/
.imag-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-ppal {
  width: 100%;
}

.imag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imag img {
  width: 25%;
}

.text {
  font-family: Fatum, Arial, Helvetica, sans-serif;
  color: rgba(28, 28, 28, 0.6);
}

.text-container {
  max-width: 620px;
  margin: 76px auto 75px;
}

.margin {
  margin-bottom: 100px;
}

/*Mapa*/
.margin {
  margin: 0 10px;
}

.carousel-inner {
  display: flex;
  justify-content: space-around;
}

.grid-item :first-child {
  grid-column: 1/4;
  grid-row: 1/2;
}
.grid-item :nth-child(2) {
  grid-column: 1/2;
  margin-left: 10px;
}
.grid-item :nth-child(3) {
  grid-column: 3/4;
}

#footer {
  background-color: #1c1c1c;
}
#footer h2 {
  color: #fff;
}
#footer li {
  color: #fff;
  list-style-type: none;
}

#footer-proceso {
  background-color: #f5f5f3;
  width: 100%;
}
#footer-proceso h2 {
  color: #000;
}
#footer-proceso li {
  color: #000;
  list-style-type: none;
}

/*Index*/
.main-footer {
  background: #1c1c1c;
  color: #fff;
  padding: 30px 20px;
}
@media screen and (min-width: 1024px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
.main-footer .footer__title {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
.main-footer .footer__txt {
  color: #555;
  font-family: Fatum, Arial, Helvetica, sans-serif;
}
.main-footer .footer__link {
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-family: Fatum, Arial, Helvetica, sans-serif;
}
.main-footer .footer__input {
  background: #1c1c1c;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}
.main-footer .copy {
  color: #555;
}
@media screen and (min-width: 1024px) {
  .main-footer .copy {
    grid-column-start: span 4;
    text-align: center;
  }
}

.social-media {
  margin-top: 15px;
}

.social-media-icon {
  /*Iconos. Hace un borde circular */
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  /*Grosor y color al borde del circulo*/
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.social-media-icon:hover i {
  color: #fff;
}
.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}
.social-media-icon i:hover {
  color: white;
}

/*Proyecto*/
.main-footer-proy {
  margin-top: 100px;
  background: #f5f5f3;
  color: #000;
  padding: 30px 20px;
}
@media screen and (min-width: 1024px) {
  .main-footer-proy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
.main-footer-proy .footer__title {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.main-footer-proy .footer__txt {
  color: #555;
}
.main-footer-proy .footer__link {
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
.main-footer-proy .footer__input {
  background: #1c1c1c;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}
.main-footer-proy .copy {
  color: #555;
}
@media screen and (min-width: 1024px) {
  .main-footer-proy .copy {
    grid-column-start: span 4;
    text-align: center;
  }
}
.main-footer-proy .social-media-icon {
  display: inline-block;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  color: #000;
}
.main-footer-proy .social-media-icon:hover i {
  color: #000;
}
.main-footer-proy .social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}
.main-footer-proy .social-media-icon i:hover {
  color: #000;
}

.contenedor {
  grid-row-start: 1;
  grid-column-end: 1;
}

/*# sourceMappingURL=style.css.map */
