@import '../base/lista';
@import '../base/variables';
@import '../base/mapas';

.boton-nav1{
    background-color: nth($colores,1);
    height: 70px;
    width: 395px;
    text-align: left;
    padding-left: 45px;
    border: none;
    text-transform: uppercase;
    
    &:hover{
        background-color: darken(nth($colores,1),80%);
    }
    @media screen and (max-width:900px) {
        display: none;
    }
}

.btn-txt{
    color: nth($colores,3);
    font-family:$fuente-1;
    /*font: 10px "Fatum", "Arial", "Helvetica" ,sans-serif;*/
    text-align: center;
    margin-bottom: 0px;
    font-size: 10px;
    letter-spacing: 4px;
   
}
/*Pagina proyectos*/
.btn-bg{
    background-color: nth($colores,3);
}
.btn-txt-proy{
    color: nth($colores,2);
    font-family: $fuente-2;
    text-align: center;
    margin-bottom: 0px;
    font-size: 10px;
    letter-spacing: 4px;
}
.boton-nav1-proy{
    background-color: nth($colores,3);
    height: 70px;
    width: 395px;
    text-align: left;
    padding-left: 45px;
    border: none;
    text-transform: uppercase;
    

    @media screen and (max-width:900px) {
        display: none;
    }
}
.navbar-toggler-icon{
    background-color: #fff;
    border-radius: 6px;
}