@import '../base/extends';
@import '../base/mixins';

.deco1{
    @extend %margin-transition;
    @extend %filter;
    &:hover{
        @include prefijos(translate(20px,20px));
        @include no-filter(grayscale(0%));
    }
}
.deco2{
    @extend %margin-transition;
    @extend %filter;
    &:hover{
        /*@extend %translate;*/
        @include prefijos(translate(20px,20px));
        @include no-filter(grayscale(0%));
    }
}
.deco3{
    @extend %margin-transition;
    @extend %filter;
    &:hover{
        /*@extend %translate;*/
        @include prefijos(translate(20px,20px));
        @include no-filter(grayscale(0%));
    }
}
/*.card{
    width: 50%;
    left: 200px;
}*/
.c-img{
    width: 95%;
    max-width: 600px;
    margin: 100px auto;
    position: relative;
    display: flex;
    align-items: center;
    img{
        width: 100%;
    }
    .txt{
        text-align: center;
        position: absolute;
    }
    h2,p{
        color: #fff;
        padding: 10px 20px;
    }
}
.line{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto ;
	height: 2px;
	background: red;
}
.card-title{
    text-align: center;
}
.texto-up{
    color: green;
    cursor: pointer;
    overflow: hidden;
}
.bahia{
    cursor: pointer;
    &:hover{
        .texto-up{
            color:#fff;
        }
    }
}

  
/*.card img{
    cursor: pointer;
    &:hover{
        .texto-up{
            color: #fff;
            display: none;
        }
    }

        
}*/
    
