@import '../base/variables';
@import '../base/lista';

.titulo{
    font-family: $fuente-1;
    font-size: 2em;
    justify-content: space-between;
    margin-right: 100px;
}
h3,h2{
    font-family: $fuente-1;
}
.body{
    background-color: $color-body;
}
.nav-bg-index{
    background-color: $color-body;
}
.nav-bg-proy{
    background-color: nth($colores,1);
}
.title-dikka{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.nav-link{
    &:hover{
        font-weight: bold;
    }
}
/*Proyectos*/
.title-dikka-proy{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
/*Procesos*/
.text-procesos{
    color: #fff;
}
.text-parrafo{
    color: #fff;
}
li{
    a{
        &:hover{
            text-decoration: white;
        }
    }
}
.foto{
    height: 100px;
}