$color-footer: #000;
$h2-color-footer: #fff;
$fuente-1: 'Raleway', sans-serif;
$fuente-2: Fatum, Arial, Helvetica, sans-serif;
$color-body: #f5f5f3;
$color-txt: rgba(28,28,28,.6);
$color-footer-txt: #555;